@using Blazored.Toast.Services
@inject ILogger<EditDemoHandlingInvalidInputViaDataAnnotationsValidator> logger;
@inject IToastService toastService;
@inject IJSRuntime jsRuntime;

<h2>Edit Demo Handling Invalid Input in Code</h2>

<EditForm Model="@starship" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit" class="mt-4">
    <DataAnnotationsValidator/>

    <div class="form-group">
        <label>Identifier:</label>
        <InputText @bind-Value="starship.Identifier" class="form-control"/>
    </div>
    <div class="form-group">
        <label>Description (optional):</label>
        <InputTextArea @bind-Value="starship.Description" class="form-control"/>
    </div>
    <div class="form-group">
        <label>Primary Classification: </label>
        <InputSelect @bind-Value="starship.Classification" class="form-control">
            <option value="">Select classification ...</option>
            <option value="Exploration">Exploration</option>
            <option value="Diplomacy">Diplomacy</option>
            <option value="Defense">Defense</option>
        </InputSelect>
    </div>
    <div class="form-group">
        <label>Maximum Accommodation:</label>
        <InputNumber @bind-Value="starship.MaximumAccommodation" class="form-control medium-number-width"/>
    </div>
    <div class="form-group">
        <div>Engineering Approval</div>
        <InputCheckbox @bind-Value="starship.IsValidatedDesign" />
    </div>
    <div class="form-group">
        <label>Production Date:</label>
        <InputDate @bind-Value="starship.ProductionDate" class="form-control date-width"/>
    </div>
    <div class="mt-4">
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</EditForm>
