@page "/ComponentDemo"

<h1>Component Demo</h1>

<div class="mt-4">
    <ComponentWithParameter Value="42"></ComponentWithParameter>
</div>

<div class="mt-5">
    <ComponentWithEvent UpdateDate="UpdateDate"></ComponentWithEvent>
    <div class="mt-2">Last Date: @(LastDate.ToString("dd.MM.yyyy HH:mm:ss"))</div>
</div>