@using Microsoft.Extensions.Logging
@using Blazored.Toast.Services
@page "/EditDemo"
@inject IToastService toastService;

<h1>Edit Demo</h1>

<div class="mt-5">
    <EditDemoHandlingInvalidInputViaDataAnnotationsValidator/>
</div>

<div class="mt-5">
    <EditDemoDisplayingInvalidInputIndividually/>
</div>

<div class="mt-5">
    <EditDemoHandlingInvalidInputInCode/>
</div>