@page "/PageWithRouteParameters/{mandatoryNumber:int}/{mandatoryString}/{optionalNumber:int?}"

<h1>Page with Route Parameters</h1>

<div class="mt-4">The passed mandatory number is @MandatoryNumber</div>

<div class="mt-2">The passed mandatory string is '@MandatoryString'</div>

<div class="mt-2">The passed optional value is @(OptionalNumber.HasValue ? OptionalNumber.Value : "NULL")</div>

@code {
    [Parameter]
    public int MandatoryNumber { get; set; }
    
    [Parameter]
    public string? MandatoryString { get; set; }

    [Parameter]
    public int? OptionalNumber { get; set; }
}